body{
        padding: 0px;
        margin: 0px;
        z-index: 1;
        position: relative;


}
                            /* HEADER */
.header_style{
    height: 20vh;
    background-color: #cad9ec;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;

}
.logo2{
    height: 10vh;
    margin-left: 100px;
    margin-top: 30px;
}
.logo2:hover{
    transform:scale(1.2);
}
.ttt{
    position: relative;
    z-index: 3;
}

.footer_style{
    height: 10vh;
    background-color: #cad9ec;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 3;
}

.logo{
    font-size:2vw;
    margin-top: 25px;
    margin-left: 25px;
}
.hr_index{
    height: 2vh;
    background-color: #663300a6;
    margin: 0;
}
.hr_footer{
    height: 1vh;
    background-color: #663300a6;
    margin: 0;
}
.image_accueil{
    width: 100%;
}
                                        /* BAR NAV */
.bar_nav{
    display: flex;
    font: 1.3vw sans-serif;
    margin-left:40%;
    margin-top: 5%;
    position: absolute;
}

.nav_link{
 color:#663300d3;
 margin:    2px 5px;
 text-decoration: none
}

.nav_link:hover {
    color: #663300a6;
    text-decoration: underline overline #8122055e;
  }




                                                    /* GALERIE*/

  .mainboot{

    margin: 1%;
    padding: 1%;

  }

  .galleryBox{
    background-color: rgb(232,232,232,0.5);
    margin: 100px 200px;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;

}

.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 330px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 65%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.galleryModal {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  height: auto;
}


                                                    /* MAP */
.map{
    text-align: center;
    margin: 130px;
}
.text_map{
    margin: 0 450px;
    font-size: 20px;
}
                                                    /* COMMENTAIRE */
.com_card{
    margin: 100px 400px;
    font-size: 20px;

}
                                                    /* CONTACT */
.button_com{
    position: absolute;
     right: 0;
     margin-top: 25px;
     margin-right: 55px;
}



.container_contact{
    margin: 100px 400px;
    font-size: 20px;

}

                                        /* NEW */
.confirm_mail{
    background-color: rgb(232,232,232,0.2);
    margin: 40px 400px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px grey;
}
.confirm_mail2{


    margin: 20px 200px;
    font-size: 20px;
    padding: 20px;

}


                                                    /* GUADELOUPE*/
/*  .containx{
    background: rgba(232, 232, 232, 0.1);
    margin: 3vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;

}*/


.guaMaison{
    background-color: rgb(232,232,232,0.5);
/*    border:1px solid grey;
    border-radius: 25px;*/
    margin: 50px 0px;
    padding: 25px 35px;
    display: flex;
    flex-direction: row;

}

.guaTailleimg{
    width: 850px;
    height: 450px;
/*  margin: 0 50px;
    padding: 0 50px;*/
}

.guaDescimage{
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}


.guaRoom{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

}

.guaRoom2{
    min-width: 30vh;
    width: 90vh;
    display: flex;
    flex-direction: column;

}

.guaDesctitre{
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

.guaPiece{
    padding: 1vh;
    width: 80%;
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
}

                                                    /* LOGIN*/

.loginForm{
    margin: 100px 650px;
    min-width: 450px;
    padding: 5vh 5vh;
}

                                                    /* DESCRIPTION*/


.maison{
    background-color: rgb(232, 232, 232);
    width: 85vh;
    width: 90%;
    margin: 8vh ;
    display: flex;
    flex-direction: row-reverse;
}

.tailleImg{
   /* width: 85vh;
    height: 45vh;*/
}

.descImage{
    /*float:right;*/
    width: 50%;
}

.descImage img{
    width: 100%;
}

.room{
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.room2{
    display: flex;
    flex-direction: column;
}

.piece{
    padding: 1vh;
    width: 80%;
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
}


.descTitle{
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


.descMainTitle{
    font-weight:all;
    font-size:3em;
    text-align: center;
    padding: 2vh 2vh;
}

@media all and (max-width: 800px){
    .descImage{
        width: 100%;
    }
    .maison{
        flex-direction: column;
    }
}


                                    /* reveal */
.reveal{

    opacity: 0;
    transform: translateY(-30px)
}

.reveal-visible{

opacity: 1;
transform: translateY(0);
transition: 2s cubic-bezier(.5,0,0,1);
}
